* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}

.container1 {
    width: 100%;
    height: 100%;
    padding: 0 200px;
}

header {
    width: 100%;
    height: 120px;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 70px;
}

header .logo img {
    width: 100%;
}

header nav {
    transform: translateX(-180px);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-right: 12px;
}

header nav ul li a {
    text-decoration: none;
    color: black;
}

.btn {
    width: 134px;
    height: 48px;
    border: none;
    outline: none;
    background-color: #1C3988;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
}
.page-content {
    width: 100%;
    margin: 50px ;
}
.page-content .content-grid {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.page-content .content-grid .content-box {
    width: 60%;
    height: 100%;
}
.flat-img {
    width: 100%;
    height: 400px;
    background-image: url('./assets/flat-image.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 5px;
}
.page-content .content-grid .info-box {
    width: 40%;
    height: 100%;
    margin-left: 15px;
}
.page-content .content-grid .info-box .contact-box {
    background-color: #f3f3fa;
    border-radius: 5px;
    width: 100%;
    height: 950px;
    padding: 25px;
}
.contact-box h2,
.info h2 {
    font-family: 'Merriweather', serif;
    color: darkblue;
    font-size: 27px;
    margin-bottom: 20px;
}
.contact-box label,
.contact-box input {
    display: block;
}
.contact-box label {
    font-size: 17px;
    margin-bottom: 10px;
}
.contact-box input,
.contact-box textarea {
    width: 260px;
    height: 48px;
    border: none;
    outline: none;
    border-radius: 4px;
    border: 1px solid #f3f3fa;
    padding: 0 15px;
    margin: 15px 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.contact-box textarea {
    padding: 15px;
    width: 100%;
    resize: none;
    height: 310px;
}
.contact-box input[type=checkbox]{
    width: 24px;
    height: 24px;
    display: inline-block;
    accent-color: darkblue;
    box-shadow: none;
}
.secBtn {
    margin-top: 30px;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    background-color: transparent;
    border: 3px solid darkblue;
    color: darkblue;
    font-weight: bold;
    cursor: pointer;
}
.banner {
    width: 100%;
    height: 100px;
    background-color: #f3f3fa;
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
}
.banner h2 {
    color: darkblue;
    font-family: 'Merriweather', serif;
}
.page-content .content-grid .content-box p {
    margin-bottom: 20px;
    font-size: 15pt;
}
.map {
    margin-top: 50px;
    border-radius: 5px;
}
.seller {
    width: 100%;
    height: 325px;
    background-color: #f3f3fa;
    padding: 25px;
    border-radius: 5px;
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.seller img {
    width: 126px;
    height: 126px;
    border-radius: 50%;
}
.seller h3 {
    color: darkblue;
    font-family: 'Merriweather', serif;
    font-size: 22px;
}
.info {
    width: 100%;
    height: 542px;
    background-color: #f3f3fa;
    border-radius: 5px;
    padding: 25px;
}
.info p {
    font-size: 15pt;
    margin-bottom: 10px;
}
.newsletter {
    padding: 0 200px;
    width: 100%;
    height: 398px;
    background-color: #f3f3fa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter-content {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsletter .shape {
    width: 217px;
    height: 217px;
    background-image: url('./assets/newsletter-icon.PNG');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.newsletter-content .content {
    width: 80%;
    height: 100%;
    padding: 50px;
}

.newsletter-content .content h1 {
    color: darkblue;
    font-size: 48px;
    font-family: 'Merriweather', serif;
    margin-bottom: 12px;
}

.newsletter-content .content p {
    font-size: 20px;
    margin-bottom: 25px;
}

.newsletter-content .content .newsletterform input {
    width: 260px;
    height: 48px;
    border: none;
    outline: none;
    border-radius: 4px;
    border: 1px solid #f3f3fa;
    padding: 0 15px;
    margin-right: 12px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em inset;
}
footer {
    width: 100%;
    height: 190px;
    background-color: #1C3988;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img {
    width: 150px;
}
.normalSize {
    width: 152px;
    height: 48px;
}